.flex {
    display: flex;
}

.grid {
    display: grid;
}

.highlight {
    background-color: var(--clr-running);
    color: var(--clr-highlight);
}


.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.clean-links {
    text-decoration: none;
    color: inherit;
}