main.container {
    background-color: var(--clr-bg);
    max-width: 100vw;
    min-height: 100vh;
    padding: 10px;
    
}

.main-layout {
    background-color: var(--clr-bg-layer);
    width: 100%;
    border-radius: 30px;
    padding: 20px;
}

body.editing .content-container {
    display: none;
}

body.memes .content-container {
    display: none;
}

body.about .content-container {
    display: none;
}