/* mobile */

@media (max-width: 768px) {
    /* nav */
    nav.main .logo {
        width: 10rem;
        margin-block: 0.5rem;
    }
    .nav-list {
        position: fixed;
        flex-direction: column;
        place-content: center flex-start;
        background-image: var(--clr-primary);
        height: 100vh;
        width: 50vw;
        top: 0;
        right: 0;
        transform: translateX(100%);
        z-index: 120;
    }
    .nav-list>* {
        margin-block-start: 5rem;
        /* margin-inline: 8rem; */
    }
    .btn-open-menu {
        position: relative;
        display: inline-block;
        background-color: #afe1d7;
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        margin-block: auto;
    }
    .btn-open-menu::before {
        content: '☰';
    }
    body.nav-open .nav-list {
        transform: translateX(0);
    }
    /* header */
    header.main {
        gap: 15px;
    }
    header.main .search {
        width: 40%;
        min-width: 90px;
        height: 2rem;
        font-size: 16px;
    }
    .category-wrapper {
        padding: 0.5rem;
        min-width: 5rem;
        overflow-x: hidden;
        gap: 20px;
    }
    .more-btn {
        background-image: var(--clr-primary);
        border-radius: 50px;
        height: 3em;
        min-width: 5em;
    }
    .random-btn {
        background-image: var(--clr-primary);
        border-radius: 50px;
        height: 3em;
        width: 5em;
    }
    /* editor */
    .editor {
        flex-direction: column;
        padding: 0;
        gap: 1em;
        justify-content: center;
        align-items: center;
    }
    .canvas-container {
        width: 70%;
    }
    #canvas1 {
        width: 100%;
    }
    .tools {
        padding: 1em;
        padding-inline: 0.5em;
        width: 90%;
    }
    .text-tools {
        padding: 1em;
        gap: 1em;
    }
    .text-tools .font-size-add {
    
    }
    .tools .export {
        justify-content: space-around;
        padding-inline: 2rem;
    }
}


/* medium */

@media (min-width: 768px) {
    /* nav */
    nav.main .logo {
        width: 10rem;
        margin-block: 0.5rem;
    }
    /* header */
    header.main {
        gap: 15px;
    }
    header.main .more-btn {
        background-image: var(--clr-primary);
        border-radius: 50px;
        height: 3.5em;
        width: 7em;
    }
    header.main .search {
        font-size: 1.37rem;
        height: 2.5em;
    }
    .category-wrapper {
        padding-inline: 1rem;
        padding-block: 0.5rem;
        flex-grow: 1;
        overflow-x: hidden;
        gap: 20px;
    }
    
    .random-btn {
        background-image: var(--clr-primary);
        border-radius: 50px;
        height: 3em;
        width: 5em;
    }
    /* editor */
    .editor {
        flex-direction: row;
        gap: 1em;
        padding: 2rem;
        justify-content: space-around;
        align-items: initial;
    }
    .canvas-container {
        width: 50%;
    }
    .tools {
        place-content: center center;
        padding: 2em;
        flex-grow: 1;
    }
    .tools .input-txt {
        padding: 0.5em;
    }
    .text-tools {
        gap: 0.5em;
        max-width: 100%;
        padding: 2em;
    }
    .manipulation-tools button {
        padding: 0.5em;
        margin-inline-end: 0.5em;
        width: 4em;
    }
}

@media (min-width: 1024px) {
    /* nav */
    .nav-list {
        position: initial;
        place-content: center center;
        flex-direction: row;
        background-image: none;
        transform: translateX(0);
        height: initial;
        z-index: initial;
    }
    .nav-list>* {
        margin-block-start: initial;
        margin-inline: initial;
    }
    nav.main .logo {
        width: 10rem;
        margin-block: auto;
    }
    .nav-list li {
        margin-inline-end: 5%;
    }
    .nav-list li button {
        font-size: initial;
    }
    .btn-open-menu {
        display: none;
    }
    /* header */
    header.main>* {
        margin-inline: 1rem;
    }
    .category-wrapper {
        min-width: 20rem;
        padding-inline: 2rem;
        padding-block: 1rem;
    }
    header.main .more-btn {
        background-image: var(--clr-primary);
        border-radius: 50px;
        height: 3.5em;
        width: 7em;
    }
    /* editing */
    .editor .tools {
        gap: initial;
        place-content: center center;
        height: 70%;
    }
    .text-tools {
        gap: 0.5em;
        width: 95%;
        padding: 2em;
        justify-content: center;
    }
    .input-txt {
        width: 90%;
    }
    .manipulation-tools button {
        padding: 0.5em;
        margin-inline-end: 0.5em;
        width: 4em;
    }
}