.editor {
    display: none;
    align-items: center;
    
    background-color: var(--clr-bg);
    height: 85vh;
    width: 100%;
}

body.editing main .editor {
    display: flex;
}

.canvas-container {
    display: flex;
    place-content: center center;
    background-color: var(--clr-bg-layer);
    
    border-radius: 30px;
}

#canvas1 {
    border-radius: 30px;
}

.editor .tools {
    background-color: var(--clr-bg-layer);
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    text-align: center;
}

.tools .input-txt {
    background-color: var(--clr-running);
    font-size: 22px;
    border-radius: 30px;
    
    text-align: center;
}

.tools .input-txt:focus-visible {
    outline: none;
}

.tools .manipulation-tools button {
    background-color: #fff;
    border-radius: 15px;
}

.tools .text-tools {
    background-color: var(--clr-highlight);
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 30px;
    padding: 2em;
}

.text-tools .font-select {
    padding: 0.5em;
    border: none;
    border-radius: 5px;
}

.text-tools .font-select:focus-visible {
    outline: none;
}

.tools .text-tools button {
    background-color: var(--clr-running);
    border-radius: 10px;
    aspect-ratio: 1/1;
}