.editor {
    display: none;
    align-items: center;
    background-color: var(--clr-bg);
    height: 100%;
    width: 100%;
}

body.editing main .editor {
    display: flex;
}

.canvas-container {
    display: flex;
    place-content: center center;
    background-color: var(--clr-bg-layer);
    border-radius: 30px;
}

#canvas1 {
    border-radius: 30px;
}

.editor .tools {
    background-color: var(--clr-bg-layer);
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 50px;
    text-align: center;
    gap: 15px;
}

.tools .input-txt {
    background-color: var(--clr-running);
    font-size: 22px;
    border-radius: 30px;
    text-align: center;
}

.tools .input-txt:focus-visible {
    outline: none;
}

.tools .manipulation-tools button {
    border-radius: 8px;
    padding: 15px;
    margin-block: auto;
    box-shadow: inset 0 -4px 0px rgb(0 0 0 / 37%);
}
.add-line {
    background-color: var(--clr-highlight2);
    
}
.delete {
    background-color: var(--clr-highlight3);

}
.manipulation-tools .add-line::before {
    font-family: fa;
    content: '+';
}

.manipulation-tools .delete::before {
    font-family: fa;
    content: '\f2ed';
}

.tools .text-tools {
    background-color: var(--clr-highlight);
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 30px;
}

.text-tools>* {
    box-shadow: 0px 3px 0px rgb(0 0 0 / 30%);
}

.text-tools .font-select {
    padding: 0.5em;
    border: none;
    border-radius: 5px;
}

.text-tools .font-select:focus-visible {
    outline: none;
}

.tools .text-tools button {
    background-color: var(--clr-running);
    border-radius: 10px;
    aspect-ratio: 1/1;
}

.color-btn {
    position: relative;
    width: 2rem;
    height: 2rem;
    padding: 0;
}

.color-btn::before {
    font-family: fa;
    content: '\f53f';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.outline-btn {
    position: relative;
    width: 2rem;
    height: 2rem;
    padding: 0;
}

.outline-btn::before {
    content: 's';
    font-size: 1.2rem;
    text-decoration: underline;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -55%);
}

.text-tools .font-color {
    opacity: 0;
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.text-tools .outline-color {
    opacity: 0;
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.emojis {
    background-color: var(--clr-running);
    border-radius: 30px;
    padding: 6px;
}
.carousel {
    align-items: center;
}
.carousel>* {
    cursor: pointer;
}
.export {
    justify-content: space-between;
    width: 100%;
}

.export>* {
    border-radius: 8px;
    box-shadow: inset 0px 3px 0px rgb(255 255 255 / 30%);
}

.btn-save{
    background-color: var(--clr-highlight2);
    
}

.btn-save::before {
    font-family: fa;
    content: '\f0ee';
    position: relative;
    padding-inline-end: 5px;
}

.download {
    background-color: var(--clr-highlight2);
    color: black;
    padding: 0.5em;
    padding-inline: 0.5em;
    border-radius: 5px;
    cursor: pointer;
}

.download::before {
    font-family: fa;
    content: '\f019';
    position: relative;
    padding-inline-end: 5px;
}

.btn-share {
    background-color: var(--clr-highlight4);

}

.btn-share::before{
    font-family: fa;
    content: '\f1e0';
    position: relative;
    padding-inline-end: 5px;
}