article.gallery {
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    gap: 1.25rem;
    justify-content: center;
    justify-items: center;
    align-items: center;
    overflow-y: scroll;
    width: 100%;
    height: 75vh;
}

article.gallery::-webkit-scrollbar{
    color: var(--clr-secondary);
    background: var(--clr-bg);
    border-radius: 50px;
}

article.gallery::-webkit-scrollbar-thumb{
    background-image: var(--clr-primary);
    width: 50px;
    border-radius: 50px;
}

.gallery .item {
    border-radius: 20px;
    box-shadow: 0 7px 8px #00000099;
}

.gallery .item:hover {
    cursor: pointer;
}