.gallery {
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    gap: 13px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}


.gallery .item:hover {
    cursor: pointer;
    
}