header.main {
    margin-block-end: 2rem;
    justify-content: space-around;
    align-items: center;
}

header.main>* {
    margin-inline: 2.5rem;
}

header.main .search {
    flex-grow: 1;
    background-color: var(--clr-bg);
    color: var(--clr-running);
    border: none;
    border-radius: 50px;
    padding-inline: 1em;
    font-size: 1.37rem;
    width: 30rem;
    height: 2.5em;
}

header.main .search:focus-visible {
    outline: none;
}

.category-wrapper {
    background-color: var(--clr-secondary);
    justify-content: space-between;
    flex-grow: 1;
    padding-inline: 2rem;
    padding-block: 1rem;
    border-radius: 50px;
}

header.main .more-btn {
    background-image: var(--clr-primary);
    border-radius: 50px;
    height: 3.5em;
    width: 7em;
}