header.main {
    margin-block-end: 2rem;
    align-items: center;
}

header.main .search {
    background-color: var(--clr-bg);
    color: var(--clr-running);
    border: none;
    border-radius: 50px;
    padding-inline: 1em;
}

header.main .search:focus-visible {
    outline: none;
}

.category-wrapper {
    background-color: var(--clr-secondary);
    justify-content: space-evenly;
    border-radius: 50px;
}