nav.main {
    margin-block-end: 10px;
    justify-content: space-between;
    background-image: var(--clr-primary);
    border-radius: 50px;
    width: 100%;
    padding-inline: 60px;
}

.nav-wrapper {
    width: 50%;
}

.nav-list {
    text-align: center;
}

nav.main .logo {
    margin-inline: 5%;
    cursor: pointer;
}

.nav-list li button {
    font-family: poppins-medium;
    color: var(--clr-running);
    margin: 1em;
    padding-inline: 2em;
    padding-block: .5em;
    border-radius: 50px;
}

.nav-list li button:hover {
    background-color: var(--clr-running);
    color: var(--clr-highlight);
}

body:not(.editing, .memes, .about) .btn-gallery {
    background-color: var(--clr-running);
    color: var(--clr-highlight);
}

body.memes .btn-memes {
    background-color: var(--clr-running);
    color: var(--clr-highlight);
}

body.about .btn-about {
    background-color: var(--clr-running);
    color: var(--clr-highlight);
}