nav.main {
    margin-block-end: 10px;
    justify-content: space-between;
    background-color: lightcoral;
    border-radius: 50px;
    width: 100%;
    padding-inline: 60px;
}

.nav-wrapper {
    /* margin-inline-end: 30%; */
    width: 50%;
}

.nav-list {
    place-content: center center;
    text-align: center;
}

nav.main .logo {
    width: 15rem;
    margin-block: auto;
    margin-inline: 5%;
    cursor: pointer;

}


.nav-list li {
    margin-inline-end: 10%;
}

.nav-list li button {
    padding: 2em;
}