@font-face {
    font-family: poppins-medium;
    src: url('../../fonts/Poppins-Medium.ttf');
  }
@font-face {
    font-family: poppins-regular;
    src: url('../../fonts/Poppins-Regular.ttf');
  }

  @font-face {
    font-family: fa;
    src: url('../../fonts/fa-solid-900.ttf');
  }